[submodule "third_party/raylib-rs"]
	path = third_party/raylib-rs
	url = https://github.com/Ewpratten/raylib-rs
	ignore = dirty
[submodule "third_party/sm"]
	path = third_party/sm
	url = https://github.com/Ewpratten/sm
	ignore = dirty
[submodule "third_party/rs-tiled"]
	path = third_party/rs-tiled
	url = https://github.com/Ewpratten/rs-tiled
